<div class="view-left-container">
  <div class="view-toolbox-container mini-scroll">
    <ng-content select=".view-toolbox"></ng-content>
  </div>
  <div class="view-spacer"></div>
  <div class="view-tools-and-selector-container no-scroll">
    <div class="view-tools-container no-scroll">
      <ng-content select=".view-tools"></ng-content>
    </div>
    <div class="view-selector-container no-scroll">
      <ng-content select=".view-selector"></ng-content>
    </div>
  </div>
  <div class="view-attributes-container no-scroll">
    <ng-content select=".view-attributes"></ng-content>
  </div>
</div>
<div class="view-info-container mini-scroll">
  <ng-content select=".view-info"></ng-content>
</div>