@import '../standard-layout/standard-layout.component.scss';

.view-info-container {
  left: auto;
  right: 16px;
}

.view-selector-container {
  align-items: flex-start;
}

.view-tools-container {
  align-items: flex-start;
}

.view-toolbox-container {
  align-items: flex-end;
}

.view-tools-and-selector-container {
  align-items: flex-end;
  flex-direction: row;
}

.view-other-container {
  right: auto;
  left: 16px;
  align-items: flex-start;
}
